@model DotNet.CompartiMOSS.Models.Revista


    <div id="divHomeImage">

        <div id="ctl00_PlaceHolderMain_ctl02_label" style="display:none">Imagen de la página</div>
        <div id="ctl00_PlaceHolderMain_ctl02__ControlWrapper_RichImageField" class="ms-rtestate-field" style="display:inline" aria-labelledby="ctl00_PlaceHolderMain_ctl02_label">
            <div class="ms-rtestate-field">
                <a href="/Revistas/Numero-26">
                    <img alt="Número 26" src="@Model.UrlPortada" style="BORDER:0 solid;">
                </a>
            </div>
        </div>
        <div id="divOverlay">
            <h1>Último número</h1>
        </div>
    </div>