@{
    ViewData["Title"] = "Home Page";
}

<div id="divBody" style="height: auto;">
    <div id="divBodyMain" data-name="ContentPlaceHolderMain" style="height:auto;">
        <span id="DeltaPlaceHolderMain">
            <article id="articleHome">
                <header>
                    <h1>


                        Bienvenidos al sitio de CompartiMOSS

                    </h1>
                    <h4 data-name="Campo de página: Comentarios">


                        La revista digital de habla hispana en la que se escribe de SharePoint y todo lo relacionado con éste

                    </h4>
                </header>
                @*<compartimoss-ultimonumero></compartimoss-ultimonumero>
                <compartimoss-patrocinador></compartimoss-patrocinador>*@
            </article>
        </span>
    </div>
</div>
